{% extends 'layout.twig' %}

{% import 'Macro/form.twig' as form %}
{% block body %}

<div class="container">
    <h1>{{auth.user.username}}</h1>
    <form action="{{ path_for('user.updateProfile') }}" method="POST">
        {{ form.group('email', null, 'email', 'Email', null, 'email',auth.user.email) }}
        {{ form.group('entreprise', null, 'entreprise', 'Nom d\'entreprise', null,null,entreprise.nom) }}
        {{ csrf() }}
        <input type="submit" value="Changer le profil" class="btn btn-primary">
    </form>
    <form action="{{ path_for('user.updateRole') }}" method="POST">
        Changer le rôle:
        <select name="role" id="role" class="form-control" select>
            {% for role in auth.user.roles %}
            {% if role.slug=='moe' %}
            <option value="moe" selected>Maitre d'oeuvre</option>
            <option value="mo">Maitre d'ouvrage</option>
            {% endif %}
            {% if role.slug=='mo' %}
            <option value="moe">Maitre d'oeuvre</option>
            <option value="mo" selected>Maitre d'ouvrage</option>
            {% endif %}
            {% endfor %}


        </select>
        {{csrf()}}
        <input type="submit" value="Modifier le role" class="btn btn-primary">
    </form>
</div>

{% endblock %}
