{% extends 'layout.twig' %}

{% import 'Macro/form.twig' as form %}
{% block body %}
<div class="container">
    <h1>{{auth.user.username}}</h1>

    <fieldset>
      <form action="{{ path_for('appeloffre.create') }}" method="POST">
          {{ form.group('nom', null, 'nom', "Nom de lappel d'offre", null,null,"Nom...") }}
          {{ form.group('description', null, 'description', "Description de lappel d'offre", null,null,"Description...") }}

          {{ csrf() }}
          <input type="submit" value="Créer l'appel d'offre" class="btn btn-primary">
      </form>
    </fieldset>
</div>

{% endblock %}
