
<!-- Dropdown Structure -->
<ul id="dropdown" class="dropdown-content">
  <li><a href="{{ path_for('user.account') }}">Mon Compte</a></li>
  <li><a href="{{ path_for('logout') }}">Déconnexion</a></li>
</ul>
<nav>
  <div class="nav-wrapper">
    <a href="{{ path_for('home') }}" class="brand-logo">Gestion d'AO</a>
    <ul class="right hide-on-med-and-down">
      {% if auth.check() %}
          <li class="dropdown">
              <li><a class="dropdown-button" href="#!" data-activates="dropdown">{{ auth.user.username }}<i class="material-icons right">arrow_drop_down</i></a></li>
          </li>
      {% else %}
          <li><a href="{{ path_for('register') }}">Enregistrement</a></li>
          <li><a href="{{ path_for('login') }}">Connexion</a></li>
      {% endif %}

    </ul>
  </div>
</nav>
